square-grid {
  width: inherit;
  box-sizing: border-box;
  padding: 15px;
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(
    var(--n-columns),
    calc(100% / var(--n-columns))
  );
}

.cell {
  position: relative;
  padding: 0;
  border: none;
  aspect-ratio: 1/1;
  background-color: var(--color-screen-medium);
  box-shadow: 0 0 0 0.1em var(--color-screen-light);
  font-size: small;
  cursor: pointer;
  color: var(--color-screen-dark);
  font-weight: bold;
}
.cell:hover:not(.revealed) {
  background-color: var(--color-screen-dark);
}

.cell.revealed {
  /* animation: pulse 0.25s ease-out alternate; */
  background-color: var(--color-screen-light);
}
@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.cell::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell.flagged::after {
  color: var(--color-screen-light);
  background-color: var(--color-screen-dark);
  content: "F";
}
.cell.mine {
  background-color: rgb(228, 84, 68);
}
.cell.mine::after {
  content: "X";
}
.cell.near1::after {
  content: "1";
}
.cell.near2::after {
  content: "2";
}
.cell.near3::after {
  content: "3";
}
.cell.near4::after {
  content: "4";
}
.cell.near5::after {
  content: "5";
}
.cell.near6::after {
  content: "6";
}
.cell.near7::after {
  content: "7";
}
.cell.near8::after {
  content: "8";
}

.hud-container {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-screen-dark);
  color: var(--color-screen-light);
  display: flex;
  font-size: medium;
  justify-content: space-between;
  padding: 5px 15px;
}

minesweeper-timer::after {
  content: " sec";
}
flag-counter::after {
  content: " mines";
}
#pause-icon::after {
  content: "⏸";
}
.fade-in-out {
  opacity: 1;
  animation: fade 1s infinite;
}
@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
