/* .panel-body {
  width: 100%;
} */

#leaderboard table {
  padding: 0 25px;
}
#leaderboard tbody {
  height: 240px;
  width: 100%;
}
#leaderboard th:nth-of-type(2) {
  width: 450px;
}

#leaderboard tbody.disabled {
  display: none;
}
#leaderboard tr {
  border-bottom: 1px dotted var(--color-screen-dark);
}

#leaderboard thead {
  color: var(--color-screen-medium);
  font-size: small;
}
