:root {
  --color-orange: #ffca3a;
  --color-primary-light: rgb(84, 153, 210);
  --color-primary: rgb(70, 130, 180);
  --color-primary-dark: #325c7e;
  --color-primary-darkest: rgba(27, 33, 71, 1);
}

body {
  overflow: hidden;
  box-sizing: border-box;
  padding: 30px;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  background-color: var(--color-orange);
  gap: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: smaller;
  color: var(--color-primary);
  font-family: sans-serif;
}
footer a {
  color: var(--color-primary);
  text-decoration: none;
}

.social-links {
  display: flex;
  gap: 10px;
  font-size: medium;
}
