.cell.near1::after {
  content: "1";
}
.cell.near2::after {
  content: "2";
}
.cell.near3::after {
  content: "3";
}
.cell.near4::after {
  content: "4";
}
.cell.near5::after {
  content: "5";
}
.cell.near6::after {
  content: "6";
}
.cell.near7::after {
  content: "7";
}
.cell.near8::after {
  content: "8";
}
