@font-face {
  font-family: "RetroGame";
  src: url(assets/fonts/8_bit_pusab/8-bit-pusab.ttf) format("truetype");
}

:root {
  --color-orange: #ffca3a;
  --color-primary-light: rgb(84, 153, 210);
  --color-primary: rgb(70, 130, 180);
  --color-primary-dark: #325c7e;
  --color-primary-darkest: rgba(27, 33, 71, 1);
  --color-screen-light: rgb(40, 228, 148);
  --color-screen-medium: rgb(46, 179, 130);
  --color-screen-dark: rgb(56 106 87);
  --console-width: 460px;
  --console-height: 630px;
  --screen-width: 400px;
  --screen-height: 440px;
  --screen-font: "RetroGame", monospace;
  --color-medium-red: indianred;
  --color-light-red: salmon;
}
body {
  overflow: hidden;
  box-sizing: border-box;
  padding: 30px;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  background-color: var(--color-orange);
  gap: 20px;
}

lemon-games {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

#console-container {
  padding: 20px 20px 0 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* width: calc((100vh - 16px) * 0.6);
  height: calc((100vh - 16px)); */
  width: var(--console-width);
  height: var(--console-height);
  min-height: var(--console-height);
  background-color: var(--color-primary);
  box-sizing: border-box;
  border-radius: 10px 10px 100px 100px;
  box-shadow: 15px 15px 3px 3px var(--color-medium-red),
    inset 3px 3px 3px var(--color-screen-light),
    inset -3px -3px 3px var(--color-primary-dark);
}

.above-screen {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.above-screen .sound-grid {
  aspect-ratio: 10/1;
  display: flex;

  /* margin-bottom: 2%; */
  border-radius: 10px;
  border: 2px inset var(--color-primary-dark);
  background-color: var(--color-primary-dark);
}
.above-screen .sound-grid .sound-hole {
  margin: auto 5px;
  background-color: #1b2148;
  width: 5px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.above-screen #power-light {
  background: var(--color-primary-darkest);
  box-shadow: 0 0 1px 2px var(--color-primary-darkest),
    2px 2px 3px 1px var(--color-screen-light),
    inset 1px 1px 2px var(--color-screen-medium);
  height: 6px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: background, box-shadow 0.3s;
}

lemon-games[data-power] #power-light {
  box-shadow: 0 0 5px 1px var(--color-light-red),
    0 0 1px 2px var(--color-primary-darkest),
    2px 2px 3px 1px var(--color-screen-light),
    inset 1px 1px 2px var(--color-orange);
  background: var(--color-medium-red);
}

#power-button {
  cursor: pointer;
  background: var(--color-primary-darkest);
  height: 30px;
  width: 6px;
  position: absolute;
  transform: translateX(233px) translateY(30px);
  border-radius: 0 10px 10px 0px;
  transition: transform 0.5s;
}
#power-button::after {
  pointer-events: none;
  content: "< â»";
  width: max-content;
  text-align: center;
  position: absolute;
  transform: translate(30px, -15px);
  color: var(--color-primary-darkest);
  color: transparent;
  text-shadow: 0px 0px 3px indianred;
  font-size: 40px;
  transition: opacity 0.3s, visibility 4s 4s;
  animation: bounce 0.5s 2s ease-in-out alternate infinite;
}
@keyframes bounce {
  0% {
    transform: translate(30px, -15px);
  }
  100% {
    transform: translate(40px, -15px);
  }
}

lemon-games[data-power] #power-button {
  transform: translateX(233px) translateY(60px);
}
lemon-games[data-power] #power-button::after {
  opacity: 0;
}

/* #screen-background {
  background-color: var(--color-screen-light);
}
lemon-games[data-power] #screen-background {
  transition: background-color 0 0.3s;
  background-color: var(--color-screen-light);
} */

.screen-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#screen-off {
  background-color: var(--color-screen-dark);
  height: var(--screen-height);
  width: var(--screen-width);
}
#display {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  /* transition: all ease-out 1s; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: var(--screen-height);
  width: var(--screen-width);
  color: var(--color-screen-dark);
  background-color: var(--color-screen-light);
  transition: opacity 2s ease-out, visibility 1.5s;
}

lemon-games[data-power] #display {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0.5s;
}
#screen-frame {
  pointer-events: none;
  position: absolute;
  top: -10px;
  width: var(--screen-width);
  height: var(--screen-height);
  border-radius: 15px;
  box-shadow: inset 3px 3px 10px var(--color-primary-darkest);
  border: var(--color-primary-light) 10px inset;
}

.below-screen {
  width: 100%;
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
}
#brand {
  display: flex;
  position: absolute;
  transform: translateY(-35px);

  width: 100px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--color-primary);
  padding: 0px 5px;

  border: 1px solid var(--color-primary);
  border-radius: 20px;
}

.embossed {
  text-shadow: 1px 1px 1px var(--color-primary-dark),
    0 1px 1px var(--color-primary-dark), -1px -1px 0 var(--color-primary-light),
    -1px 0 0 var(--color-primary-light);
  box-shadow: -1px -1px 1px 1px var(--color-primary-light),
    inset 1px 1px 1px 1px var(--color-primary-dark),
    inset -1px -1px 1px 1px var(--color-primary-light),
    1px 1px 1px 1px var(--color-primary-dark);
}

.controls-container {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.buttons-container {
  display: flex;
  gap: 6px;
  padding: 6px;
  border-radius: 45px;
  background-color: var(--color-primary);
}
.buttons-container.left {
  rotate: 30deg;
  box-shadow: inset 4px 2px 3px 2px var(--color-primary-dark),
    inset 0px -1px 15px 0px var(--color-screen-medium);
}
.buttons-container.right {
  rotate: -30deg;
  gap: 20px;
  box-shadow: inset 2px 4px 3px 2px var(--color-primary-dark),
    inset -1px 0px 15px 0px var(--color-screen-medium);
}

.button {
  background-color: indianred;
  cursor: pointer;
  box-sizing: border-box;
}
.button.direction {
  height: 40px;
  aspect-ratio: 5/4;
}
#right-button {
  border-radius: 3px 20px 20px 3px;
}
#left-button {
  border-radius: 20px 3px 3px 20px;
}
.direction.shading {
  border-top: 2px solid salmon;
  border-left: 2px solid salmon;
  box-shadow: inset -15px -10px 10px -5px salmon,
    0px 0px 1px 1px var(--color-primary-darkest),
    4px 2px 3px 1px var(--color-primary-dark);
}
.direction.shading:active {
  border-top: 1px solid salmon;
  border-left: 1px solid salmon;
  box-shadow: inset -10px -5px 10px -5px salmon,
    0px 0px 1px 1px var(--color-primary-darkest),
    4px 2px 1px 0px var(--color-primary-dark);
}

.button.action {
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.action.shading {
  border-top: 2px solid salmon;
  border-left: 1px solid salmon;
  box-shadow: inset -10px -10px 10px -5px salmon,
    0px 0px 3px 1px var(--color-primary-darkest),
    2px 4px 2px 2px var(--color-primary-dark);
}
.action.shading:active {
  border-top: 1px solid salmon;
  border-left: 0px solid salmon;
  box-shadow: inset -5px -5px 10px -5px salmon,
    0px 0px 3px 1px var(--color-primary-darkest),
    2px 4px 1px 0px var(--color-primary-dark);
}

#start-button {
  margin-top: 16px;
  height: 25px;
  aspect-ratio: 3/1;
  border-radius: 15px 15px 100% 100%;
  box-shadow: 0 0 3px 2px var(--color-primary-dark),
    0 0 0 1px var(--color-primary-darkest), inset 2px 2px 1px salmon,
    inset -5px -5px 5px salmon;
  border-bottom: indianred 1px solid;
  border-right: indianred 1px solid;
}
#start-button:active {
  box-shadow: 0 0 3px 2px var(--color-primary-dark),
    0 0 0 1px var(--color-primary-darkest), inset 1px 1px 1px salmon,
    inset -3px -3px 3px salmon;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: smaller;
  color: var(--color-primary);
  font-family: sans-serif;
}
footer a {
  color: var(--color-primary);
  text-decoration: none;
}

.social-links {
  display: flex;
  gap: 10px;
  font-size: medium;
}