<div id="console-container" class="main-container">
  <div class="above-screen">
    <div class="sound-grid">
      <div class="sound-hole"></div>
      <div class="sound-hole"></div>
      <div class="sound-hole"></div>
      <div class="sound-hole"></div>
    </div>
    <div id="power-light"></div>
    <div class="sound-grid">
      <div class="sound-hole"></div>
      <div class="sound-hole"></div>
      <div class="sound-hole"></div>
      <div class="sound-hole"></div>
    </div>
    <div id="power-button"></div>
  </div>
  <div class="screen-container">
    <div id="screen-off"></div>
    <child-display-manager id="display">
      <!-- Screens injected here -->
      <paused-screen id="minesweeper-paused"></paused-screen>
    </child-display-manager>
    <div id="screen-frame"></div>
  </div>

  <div class="below-screen">
    <h1 id="brand" class="embossed">LEMON GAMES</h1>
    <div class="controls-container">
      <div class="buttons-container left">
        <div id="left-button" class="button direction shading"></div>
        <div id="right-button" class="button direction shading"></div>
      </div>

      <span id="start-button" class="button"></span>

      <div class="buttons-container right">
        <div id="primary-button" class="button action shading"></div>
        <div id="secondary-button" class="button action shading"></div>
      </div>
    </div>
  </div>
</div>
