#display * {
  font-family: var(--screen-font);
}

lemon-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: inherit;
  height: inherit;
  justify-content: space-between ;
}
lemon-screen.disabled-screen {
  display: none;
}

#lemonGame-title {
  font-size: 55px;
  line-height: 75px;
}

.menu-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  gap: 10px;
  padding: 0;
}

.menu-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-family: var(--screen-font);
  background-color: var(--color-screen-medium);
  color: var(--color-screen-light);
  width: 200px;
}


.menu-button:hover,
.menu-button:active,
.menu-button:focus {
  animation: none;
  background-color: var(--color-screen-dark);
  color: var(--color-screen-light);
}

.bottom-button {
  width: 100%;
}