:host {
  cursor: pointer;
  background: var(--color-primary-darkest);
  height: 30px;
  width: 6px;
  position: absolute;
  transform: translateX(233px) translateY(30px);
  border-radius: 0 10px 10px 0px;
  transition: transform 0.5s;
}
:host::after {
  pointer-events: none;
  content: "< â»";
  width: max-content;
  text-align: center;
  position: absolute;
  transform: translate(30px, -15px);
  color: var(--color-primary-darkest);
  color: transparent;
  text-shadow: 0px 0px 3px indianred;
  font-size: 40px;
  transition: opacity 0.3s, visibility 4s 4s;
  animation: bounce 0.5s 2s ease-in-out alternate infinite;
}
@keyframes bounce {
  0% {
    transform: translate(30px, -15px);
  }
  100% {
    transform: translate(40px, -15px);
  }
}

:host-context([data-power]) {
  transform: translateX(233px) translateY(60px);
}
:host-context([data-power])::after {
  opacity: 0;
}
