lemon-screen-new {
    font-family: var(--screen-font);
  }
  
  lemon-screen-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: inherit;
    height: inherit;
    justify-content: space-between;
  }
  lemon-screen-new.disabled-screen {
    display: none;
  }